.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Gameboy Roms/.DS_Store
Gameboy Roms/Pokemon - Blue Version (USA, Europe) (SGB Enhanced).gb
Gameboy Roms/Tetris.gb
libs/SDL2-2.30.0/BUGS.txt
libs/SDL2-2.30.0/COPYING.txt
libs/SDL2-2.30.0/CREDITS.txt
libs/SDL2-2.30.0/INSTALL.txt
libs/SDL2-2.30.0/Makefile
libs/SDL2-2.30.0/README-SDL.txt
libs/SDL2-2.30.0/README.txt
libs/SDL2-2.30.0/WhatsNew.txt
libs/SDL2-2.30.0/cmake/sdl2-config-version.cmake
libs/SDL2-2.30.0/cmake/sdl2-config.cmake
libs/SDL2-2.30.0/docs/CONTRIBUTING.md
libs/SDL2-2.30.0/docs/doxyfile
libs/SDL2-2.30.0/docs/README-android.md
libs/SDL2-2.30.0/docs/README-cmake.md
libs/SDL2-2.30.0/docs/README-directfb.md
libs/SDL2-2.30.0/docs/README-dynapi.md
libs/SDL2-2.30.0/docs/README-emscripten.md
libs/SDL2-2.30.0/docs/README-gdk.md
libs/SDL2-2.30.0/docs/README-gesture.md
libs/SDL2-2.30.0/docs/README-git.md
libs/SDL2-2.30.0/docs/README-hg.md
libs/SDL2-2.30.0/docs/README-ios.md
libs/SDL2-2.30.0/docs/README-kmsbsd.md
libs/SDL2-2.30.0/docs/README-linux.md
libs/SDL2-2.30.0/docs/README-macos.md
libs/SDL2-2.30.0/docs/README-n3ds.md
libs/SDL2-2.30.0/docs/README-nacl.md
libs/SDL2-2.30.0/docs/README-ngage.md
libs/SDL2-2.30.0/docs/README-os2.md
libs/SDL2-2.30.0/docs/README-pandora.md
libs/SDL2-2.30.0/docs/README-platforms.md
libs/SDL2-2.30.0/docs/README-porting.md
libs/SDL2-2.30.0/docs/README-ps2.md
libs/SDL2-2.30.0/docs/README-psp.md
libs/SDL2-2.30.0/docs/README-raspberrypi.md
libs/SDL2-2.30.0/docs/README-riscos.md
libs/SDL2-2.30.0/docs/README-touch.md
libs/SDL2-2.30.0/docs/README-versions.md
libs/SDL2-2.30.0/docs/README-visualc.md
libs/SDL2-2.30.0/docs/README-vita.md
libs/SDL2-2.30.0/docs/README-wince.md
libs/SDL2-2.30.0/docs/README-windows.md
libs/SDL2-2.30.0/docs/README-winrt.md
libs/SDL2-2.30.0/docs/README.md
libs/SDL2-2.30.0/docs/release_checklist.md
libs/SDL2-2.30.0/i686-w64-mingw32/bin/sdl2-config
libs/SDL2-2.30.0/i686-w64-mingw32/bin/SDL2.dll
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/begin_code.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/close_code.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_assert.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_atomic.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_audio.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_bits.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_blendmode.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_clipboard.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_config.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_cpuinfo.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_egl.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_endian.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_error.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_events.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_filesystem.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_gamecontroller.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_gesture.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_guid.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_haptic.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_hidapi.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_hints.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_joystick.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_keyboard.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_keycode.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_loadso.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_locale.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_log.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_main.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_messagebox.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_metal.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_misc.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_mouse.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_mutex.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_name.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengl_glext.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengl.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles2_gl2.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles2_gl2ext.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles2_gl2platform.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles2_khrplatform.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_opengles2.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_pixels.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_platform.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_power.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_quit.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_rect.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_render.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_revision.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_rwops.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_scancode.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_sensor.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_shape.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_stdinc.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_surface.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_system.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_syswm.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_assert.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_common.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_compare.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_crc32.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_font.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_fuzzer.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_harness.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_images.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_log.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_md5.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_memory.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test_random.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_test.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_thread.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_timer.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_touch.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_types.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_version.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_video.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL_vulkan.h
libs/SDL2-2.30.0/i686-w64-mingw32/include/SDL2/SDL.h
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2_test.a
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2_test.la
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2.a
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2.dll.a
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2.la
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2main.a
libs/SDL2-2.30.0/i686-w64-mingw32/lib/libSDL2main.la
libs/SDL2-2.30.0/i686-w64-mingw32/lib/cmake/SDL2/sdl2-config-version.cmake
libs/SDL2-2.30.0/i686-w64-mingw32/lib/cmake/SDL2/sdl2-config.cmake
libs/SDL2-2.30.0/i686-w64-mingw32/lib/pkgconfig/sdl2.pc
libs/SDL2-2.30.0/i686-w64-mingw32/share/aclocal/sdl2.m4
libs/SDL2-2.30.0/test/acinclude.m4
libs/SDL2-2.30.0/test/autogen.sh
libs/SDL2-2.30.0/test/axis.bmp
libs/SDL2-2.30.0/test/button.bmp
libs/SDL2-2.30.0/test/checkkeys.c
libs/SDL2-2.30.0/test/checkkeysthreads.c
libs/SDL2-2.30.0/test/CMakeLists.txt
libs/SDL2-2.30.0/test/configure
libs/SDL2-2.30.0/test/configure.ac
libs/SDL2-2.30.0/test/controllermap_back.bmp
libs/SDL2-2.30.0/test/controllermap.bmp
libs/SDL2-2.30.0/test/controllermap.c
libs/SDL2-2.30.0/test/COPYING
libs/SDL2-2.30.0/test/icon.bmp
libs/SDL2-2.30.0/test/loopwave.c
libs/SDL2-2.30.0/test/loopwavequeue.c
libs/SDL2-2.30.0/test/Makefile.in
libs/SDL2-2.30.0/test/Makefile.os2
libs/SDL2-2.30.0/test/Makefile.w32
libs/SDL2-2.30.0/test/moose.dat
libs/SDL2-2.30.0/test/picture.xbm
libs/SDL2-2.30.0/test/README
libs/SDL2-2.30.0/test/relative_mode.markdown
libs/SDL2-2.30.0/test/sample.bmp
libs/SDL2-2.30.0/test/sample.wav
libs/SDL2-2.30.0/test/template.test.in
libs/SDL2-2.30.0/test/testatomic.c
libs/SDL2-2.30.0/test/testaudiocapture.c
libs/SDL2-2.30.0/test/testaudiohotplug.c
libs/SDL2-2.30.0/test/testaudioinfo.c
libs/SDL2-2.30.0/test/testautomation_audio.c
libs/SDL2-2.30.0/test/testautomation_clipboard.c
libs/SDL2-2.30.0/test/testautomation_events.c
libs/SDL2-2.30.0/test/testautomation_guid.c
libs/SDL2-2.30.0/test/testautomation_hints.c
libs/SDL2-2.30.0/test/testautomation_joystick.c
libs/SDL2-2.30.0/test/testautomation_keyboard.c
libs/SDL2-2.30.0/test/testautomation_log.c
libs/SDL2-2.30.0/test/testautomation_main.c
libs/SDL2-2.30.0/test/testautomation_math.c
libs/SDL2-2.30.0/test/testautomation_mouse.c
libs/SDL2-2.30.0/test/testautomation_pixels.c
libs/SDL2-2.30.0/test/testautomation_platform.c
libs/SDL2-2.30.0/test/testautomation_rect.c
libs/SDL2-2.30.0/test/testautomation_render.c
libs/SDL2-2.30.0/test/testautomation_rwops.c
libs/SDL2-2.30.0/test/testautomation_sdltest.c
libs/SDL2-2.30.0/test/testautomation_stdlib.c
libs/SDL2-2.30.0/test/testautomation_subsystems.c
libs/SDL2-2.30.0/test/testautomation_suites.h
libs/SDL2-2.30.0/test/testautomation_surface.c
libs/SDL2-2.30.0/test/testautomation_syswm.c
libs/SDL2-2.30.0/test/testautomation_timer.c
libs/SDL2-2.30.0/test/testautomation_video.c
libs/SDL2-2.30.0/test/testautomation.c
libs/SDL2-2.30.0/test/testbounds.c
libs/SDL2-2.30.0/test/testcustomcursor.c
libs/SDL2-2.30.0/test/testdisplayinfo.c
libs/SDL2-2.30.0/test/testdraw2.c
libs/SDL2-2.30.0/test/testdrawchessboard.c
libs/SDL2-2.30.0/test/testdropfile.c
libs/SDL2-2.30.0/test/testerror.c
libs/SDL2-2.30.0/test/testevdev.c
libs/SDL2-2.30.0/test/testfile.c
libs/SDL2-2.30.0/test/testfilesystem_pre.c
libs/SDL2-2.30.0/test/testfilesystem.c
libs/SDL2-2.30.0/test/testgamecontroller.c
libs/SDL2-2.30.0/test/testgeometry.c
libs/SDL2-2.30.0/test/testgesture.c
libs/SDL2-2.30.0/test/testgl2.c
libs/SDL2-2.30.0/test/testgles.c
libs/SDL2-2.30.0/test/testgles2_sdf_img_normal.bmp
libs/SDL2-2.30.0/test/testgles2_sdf_img_sdf.bmp
libs/SDL2-2.30.0/test/testgles2_sdf.c
libs/SDL2-2.30.0/test/testgles2.c
libs/SDL2-2.30.0/test/testhaptic.c
libs/SDL2-2.30.0/test/testhittesting.c
libs/SDL2-2.30.0/test/testhotplug.c
libs/SDL2-2.30.0/test/testiconv.c
libs/SDL2-2.30.0/test/testime.c
libs/SDL2-2.30.0/test/testintersections.c
libs/SDL2-2.30.0/test/testjoystick.c
libs/SDL2-2.30.0/test/testkeys.c
libs/SDL2-2.30.0/test/testloadso.c
libs/SDL2-2.30.0/test/testlocale.c
libs/SDL2-2.30.0/test/testlock.c
libs/SDL2-2.30.0/test/testmessage.c
libs/SDL2-2.30.0/test/testmouse.c
libs/SDL2-2.30.0/test/testmultiaudio.c
libs/SDL2-2.30.0/test/testnative.c
libs/SDL2-2.30.0/test/testnative.h
libs/SDL2-2.30.0/test/testnativecocoa.m
libs/SDL2-2.30.0/test/testnativeos2.c
libs/SDL2-2.30.0/test/testnativew32.c
libs/SDL2-2.30.0/test/testnativex11.c
libs/SDL2-2.30.0/test/testoffscreen.c
libs/SDL2-2.30.0/test/testoverlay2.c
libs/SDL2-2.30.0/test/testplatform.c
libs/SDL2-2.30.0/test/testpower.c
libs/SDL2-2.30.0/test/testqsort.c
libs/SDL2-2.30.0/test/testrelative.c
libs/SDL2-2.30.0/test/testrendercopyex.c
libs/SDL2-2.30.0/test/testrendertarget.c
libs/SDL2-2.30.0/test/testresample.c
libs/SDL2-2.30.0/test/testrumble.c
libs/SDL2-2.30.0/test/testscale.c
libs/SDL2-2.30.0/test/testsem.c
libs/SDL2-2.30.0/test/testsensor.c
libs/SDL2-2.30.0/test/testshader.c
libs/SDL2-2.30.0/test/testshape.c
libs/SDL2-2.30.0/test/testsprite2.c
libs/SDL2-2.30.0/test/testspriteminimal.c
libs/SDL2-2.30.0/test/teststreaming.c
libs/SDL2-2.30.0/test/testsurround.c
libs/SDL2-2.30.0/test/testthread.c
libs/SDL2-2.30.0/test/testtimer.c
libs/SDL2-2.30.0/test/testurl.c
libs/SDL2-2.30.0/test/testutils.c
libs/SDL2-2.30.0/test/testutils.h
libs/SDL2-2.30.0/test/testver.c
libs/SDL2-2.30.0/test/testviewport.c
libs/SDL2-2.30.0/test/testvulkan.c
libs/SDL2-2.30.0/test/testwm2.c
libs/SDL2-2.30.0/test/testyuv_cvt.c
libs/SDL2-2.30.0/test/testyuv_cvt.h
libs/SDL2-2.30.0/test/testyuv.bmp
libs/SDL2-2.30.0/test/testyuv.c
libs/SDL2-2.30.0/test/torturethread.c
libs/SDL2-2.30.0/test/unifont-13.0.06-license.txt
libs/SDL2-2.30.0/test/unifont-13.0.06.hex
libs/SDL2-2.30.0/test/utf8.txt
libs/SDL2-2.30.0/test/watcom.mif
libs/SDL2-2.30.0/test/emscripten/joystick-pre.js
libs/SDL2-2.30.0/test/n3ds/logo48x48.png
libs/SDL2-2.30.0/test/nacl/background.js
libs/SDL2-2.30.0/test/nacl/common.js
libs/SDL2-2.30.0/test/nacl/index.html
libs/SDL2-2.30.0/test/nacl/Makefile
libs/SDL2-2.30.0/test/nacl/manifest.json
libs/SDL2-2.30.0/test/shapes/p01_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p01_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p01_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p02_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p02_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p02_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p03_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p03_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p04_shape1.bmp
libs/SDL2-2.30.0/test/shapes/p04_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p04_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p04_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p05_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p06_shape1alpha.bmp
libs/SDL2-2.30.0/test/shapes/p06_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p06_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p06_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p07_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p07_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p07_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p08_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p08_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p08_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p09_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p09_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p09_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p10_shape1.bmp
libs/SDL2-2.30.0/test/shapes/p10_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p10_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p10_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p11_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p11_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p11_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p12_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p12_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p13_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p13_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p13_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p14_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p14_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p15_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p15_shape24.bmp
libs/SDL2-2.30.0/test/shapes/p15_shape32alpha.bmp
libs/SDL2-2.30.0/test/shapes/p16_shape1.bmp
libs/SDL2-2.30.0/test/shapes/p16_shape8.bmp
libs/SDL2-2.30.0/test/shapes/p16_shape24.bmp
libs/SDL2-2.30.0/test/shapes/trollface_24.bmp
libs/SDL2-2.30.0/test/shapes/trollface_32alpha.bmp
libs/SDL2-2.30.0/x86_64-w64-mingw32/bin/sdl2-config
libs/SDL2-2.30.0/x86_64-w64-mingw32/bin/SDL2.dll
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/begin_code.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/close_code.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_assert.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_atomic.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_audio.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_bits.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_blendmode.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_clipboard.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_config.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_cpuinfo.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_egl.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_endian.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_error.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_events.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_filesystem.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_gamecontroller.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_gesture.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_guid.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_haptic.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_hidapi.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_hints.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_joystick.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_keyboard.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_keycode.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_loadso.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_locale.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_log.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_main.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_messagebox.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_metal.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_misc.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_mouse.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_mutex.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_name.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengl_glext.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengl.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2ext.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2platform.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_khrplatform.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_opengles2.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_pixels.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_platform.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_power.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_quit.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_rect.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_render.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_revision.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_rwops.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_scancode.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_sensor.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_shape.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_stdinc.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_surface.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_system.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_syswm.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_assert.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_common.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_compare.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_crc32.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_font.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_fuzzer.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_harness.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_images.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_log.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_md5.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_memory.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test_random.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_test.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_thread.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_timer.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_touch.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_types.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_version.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_video.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL_vulkan.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/include/SDL2/SDL.h
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2_test.a
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2_test.la
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2.a
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2.dll.a
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2.la
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2main.a
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/libSDL2main.la
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/cmake/SDL2/sdl2-config-version.cmake
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/cmake/SDL2/sdl2-config.cmake
libs/SDL2-2.30.0/x86_64-w64-mingw32/lib/pkgconfig/sdl2.pc
libs/SDL2-2.30.0/x86_64-w64-mingw32/share/aclocal/sdl2.m4
output/GoatBoyMac.out
output/GoatBoyMac.out.dSYM/Contents/Info.plist
output/GoatBoyMac.out.dSYM/Contents/Resources/DWARF/GoatBoyMac.out
output/GoatBoyMac.out.dSYM/Contents/Resources/Relocations/aarch64/GoatBoyMac.out.yml
